.header {
  background-color: #202024;
  height: 6.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.strong {
  font-size: 1.625rem;
  font-family: 'Roboto';
}