.sidebar {
  background-color: var(--gray-800);
  border-radius: .5rem;
  overflow: hidden;
}

.cover {
  width: 100%;
  height: 72px;
  
  object-fit: cover;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: calc(0px - 1.5rem - 6px);
}

.profile strong {
  margin-top: 1rem;
  line-height: 1.6;
  color: var(--gray-100);
}

.profile span {
  font-size: .875rem;
  line-height: 1.6;
  color: var(--gray-400);
}

.footer {
  border-top: 1px solid var(--gray-600);
  margin-top: 1.5rem;
  padding: 1.5rem 2rem 2rem;
}

.button {
  width: 100%;
  height: 50px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5rem;

  padding: 0 1.5rem;

  border: 1px solid var(--blue-500);
  border-radius: 8px;

  color: var(--blue-500);
  font-weight: 700;
  text-decoration: none;

  transition: color .2s, background-color .2s;
}

.button:hover {
  background-color: var(--blue-500);
  color: var(--white);
}